[submodule "services/adminer"]
	path = services/adminer
	url = git@github.com:dallanb/adminer.git
[submodule "services/auth"]
	path = services/auth
	url = git@github.com:dallanb/auth.git
[submodule "services/certbot"]
	path = services/certbot
	url = git@github.com:dallanb/certbot.git
[submodule "services/kong"]
	path = services/kong
	url = git@github.com:dallanb/kong.git
[submodule "services/konga"]
	path = services/konga
	url = git@github.com:dallanb/konga.git
[submodule "services/postgresql"]
	path = services/postgresql
	url = git@github.com:dallanb/postgresql.git
[submodule "services/redis"]
	path = services/redis
	url = git@github.com:dallanb/redis.git
[submodule "services/redis-commander"]
	path = services/redis-commander
	url = git@github.com:dallanb/redis-commander.git
[submodule "services/elasticsearch"]
	path = services/elasticsearch
	url = git@github.com:dallanb/elasticsearch.git
[submodule "services/kibana"]
	path = services/kibana
	url = git@github.com:dallanb/kibana.git
[submodule "services/logstash"]
	path = services/logstash
	url = git@github.com:dallanb/logstash.git
[submodule "services/mailer"]
	path = services/mailer
	url = git@github.com:dallanb/mailer.git
