[submodule "services/account"]
	path = services/account
	url = git@github.com:dallanb/account.git
[submodule "services/auth"]
	path = services/auth
	url = git@github.com:dallanb/auth.git
[submodule "services/contest"]
	path = services/contest
	url = git@github.com:dallanb/contest.git
[submodule "services/mailer"]
	path = services/mailer
	url = git@github.com:dallanb/mailer.git
[submodule "services/notification"]
	path = services/notification
	url = git@github.com:dallanb/notification.git
[submodule "services/score"]
	path = services/score
	url = git@github.com:dallanb/score.git
[submodule "services/sport"]
	path = services/sport
	url = git@github.com:dallanb/sport.git
[submodule "services/wager"]
	path = services/wager
	url = git@github.com:dallanb/wager.git
[submodule "services/web-pusher"]
	path = services/web-pusher
	url = git@github.com:dallanb/web-pusher.git
[submodule "services/golftapir"]
	path = services/golftapir
	url = git@github.com:dallanb/golftapir.git
[submodule "services/static"]
	path = services/static
	url = git@github.com:dallanb/static.git
[submodule "services/course"]
	path = services/course
	url = git@github.com:dallanb/course.git
[submodule "services/league"]
	path = services/league
	url = git@github.com:dallanb/league.git
[submodule "services/member"]
	path = services/member
	url = git@github.com:dallanb/member.git
